[core]
	excludesfile = ~/.gitignore_global
	editor = vim -c \"set fenc=utf-8\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = andooown
	email = andooown.dev@gmail.com
[ghq]
	root = ~/go/src
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
  cm = commit
  cp = cherry-pick
  fp = fetch -p
  l = log --pretty='format:%C(magenta)%h%Creset %C(blue)%cd%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset%C(black bold)%ar%Creset' --date=iso
  pp = pull -p
  res = restore
  rmb = "! git branch --merged | grep -vE \"^\\*|master$|develop$\" | xargs -I % git branch -d %"
  sp = stash push
  spp = stash pop
  st = status
  sw = switch
  swc = switch -c

